<div class="main" itemscope itemtype="http://localhost/KanbanBoard">

  <h1><%= @status %></h1>

    <div itemscope itemprop="column" itemtype="http://localhost/KanbanColumn" class="@status">
      <div>
        <% @items.each do |item| %>
          <%= render :partial => "list_item", :locals => {:item => item} %>
        <% end %>
      </div>
    </div>

  <div itemscope itemprop="links" id="links">
    <%= link_to 'Navigation', {:action => "navigation"}, "itemprop" => "link", :rel => "index" %>
  </div>

</div>