<div id="links">
  <h2>Navigation</h2>
  <div>
  <%= link_to 'Board', {:action => "index"}, :rel => "board"  %>

  <% Item.states.each do |state | %>
    <%= link_to state.capitalize, {:action => state}, :rel => state %>
  <% end %>

  </div>
</div>
