<div itemscope itemprop="links" id="links">
  <h2>Navigation</h2>
  <div>
  <%= link_to 'Board', {:action => "index"}, "itemprop" => "link", :rel => "board"  %>

  <% Item.states.each do |state | %>
    <%= link_to state.capitalize, {:action => state}, "itemprop" => "link", :rel => state %>
  <% end %>

  </div>
</div>
