// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[itemprop=column] {
  display: inline-block;
  min-width: 200px;
  min-height: 200px;
  vertical-align: top;
}

.item {
	background-color: #ffcccc;
	margin: 20px;
	max-width: 200px;

	.title {
		font-weight: bold;
	}
}

.columns {
	float: right;
}

.extra {
	width: 33%;
	background-color: #f7f7f7;
	border-style: dashed;
	border-width: 2px;
	margin: 10px;
	padding: 10px;

	div {
		width: 400px;

		.item {
			background-color: #cfc;
			padding: 50px;

			* {
			font-size: 1.3em;
			}
		}
	}

	button.pull {
		margin-top: 25px;
		font-size: 1.5em;
	}
}
