// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  max-width: 1024px;
  margin: 0 auto;
}

ol {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

div {
  font-size: 20px;
}

input, select {
  width: 100%;
  font-size: 2em;
  margin: 0.5em 0;
}

.h-column {
  padding: 0.5em 0 0 0;
  margin: 1.2em 0;
  width: 100%;
  background-color: #ccccff; 

  ol {
    background-color: #ffffff;
    padding: 0.2em 0;
  }
}

.navigation {
  margin: 1.5em 0;

  a {
    display: inline-block;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    background-color: #ffcccc;
  }

  a:first-child {
    margin: 0 3em 0 0; 
  }

  a:hover {
    background-color: #ffcccc;
  }
}

.h-item {
  background-color: #ffcccc;
  margin: 0.7em 0;
  padding: 1em;

  .p-name {
    font-size: 2.7em;
    line-height: 2.7em;
  }

  .p-description {
    font-size: 2em;
  }

  .p-status {
    margin-top: 10px;
    display: none;
  }

  .p-forms {
    margin: 2em 0;
  }

  .p-links {
    margin-top: 10px;

    * {
      margin-right: 10px;
    }
  }

}

[data-rel~=next] input {
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
}

[data-rel=pull] input[type=submit] {
  margin: 0.5em 0;
}

@media (min-width: 64em) {

  div {
    font-size: 16px;
  }

  input, select {
    width: auto;
    font-size: 1em;
    margin: 0.25em 0;
  }

  .main.h-board {
    [data-rel~=next] input {
      font-size: 1.5em;
      font-weight: bold;
      padding: 10px;
    }
  }

  [data-rel~=next] input {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
  }

  .h-column {
    display: inline-block;
    padding: 0;
    min-width: 200px;
    max-width: 200px;
    margin: 0 1em 0 0;
    min-height: 200px;
    vertical-align: top;
    background-color: #ffffff;
  }

  .h-item {
    background-color: #ffcccc;
    margin: 20px 0;
    padding: 10px;

    .p-name {
      font-size: 1.3em;
      font-weight: bold;
    }

    .p-description {
      font-size: 1.3em;
      margin: 0.25em 0;
    }

    .p-status {
      display: none;
    }

    .p-description {
      margin: 10px 0;
    }

    .p-forms {
      margin: 0.25em 0;
    }

  }

  .main.category .h-item {
    width: 400px;
  }

  .extra {
    padding: 2em;
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc; 
    float: right;

    .p-columns {

      .h-column {
        min-height: 50px;
        display: block;

        .h-item {
          max-width: 150px;
          color: #777;
        }
      }
    }

  }

  [data-rel=pull] input[type=submit] {
    margin: 25px 0;
    font-size: 1.5em;
    font-weight: bold;
  }

  .main.h-column {
    padding: 20px;
    margin-left: 100px;
  }

  .extra {
    .p-forms {
      display: none;
    }
  }
}


@media (min-width: 80em) {
  .main {
    max-width: 90em;
  }
  .extra {
    float: right;
    padding: 2em;
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc; 

    .p-columns {

      .h-column {
        display: inline-block;

        .h-item {
          max-width: 150px;
          color: #777;
        }
      }
    }
  }
}
