// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column {
  display: inline-block;
  min-width: 200px;
  min-height: 200px;
  vertical-align: top;
}

.item {
  background-color: #ffcccc;
  margin: 20px;
  max-width: 200px;
  padding: 10px;

  .p-title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .p-status {
    display: none;
  }

  .p-description {
    margin: 10px 0;
  }

  .move.next input {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
  }

  .links {
    margin-top: 10px;
    * {
      margin-right: 10px;
      display: inline-block;
    }
  }
}

.columns {
  float: right;
}

.pull input[type=submit] {
  margin: 25px 0;
  font-size: 1.5em;
  font-weight: bold;
}


.main.column {
  padding: 20px;
  margin-left: 100px;
}

.extra {
  .actions {
    display: none;
  }
}

