// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
	background-color: #ffcccc;
	margin: 20px;
	max-width: 200px;

	.title {
		font-weight: bold;
	}
}