<!DOCTYPE html>
<html>
<head>
  <title>KanbanRoca</title>

  <% if (Rails::Server.new.options[:Port] != 3001) %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  <% end %>
  <link rel="profile" href="/profile">
</head>
<body>
  <%= yield %>
  <script type="text/javascript">
    // Hide navigation to avoid flickering and
    //   show it again after 3 seconds if other JavaScript failed to load/execute
    
    var navigation = document.getElementsByClassName("navigation")[0];
    if (navigation) {
      navigation.style.visibility = "hidden";
    
      setTimeout(function(){
        var navigation = document.getElementsByClassName("navigation")[0];
        if (navigation) {
          navigation.style.visibility = "visible";
        }
      }, 3000);  
    }
  </script>

</body>
</html>
